html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    font-family: "Play", sans-serif;
    font-size: 1rem;
	line-height: 1;
	box-sizing: border-box;
    background-color: #131313;
    color: #fff;
    text-align: left;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: inherit;
}   

.container{
    max-width: 1400px;
    margin: 0 auto;
}





/* Header */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: #080808;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    padding: .5rem 0;
}

.header__logo a{
    font-weight: 700;
}

.header__logo span{
    color: #00ffee;
    text-shadow: 0 0 25px #00ffee;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.header .nav-item a{
    font-size: 1rem;
    font-family: "Play", sans-serif;
    padding: .5rem 0;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

.header .nav-item>a:hover,
.header .active{
    border-bottom: 2px solid #00ffee;
    color: #00ffee;
}

.header__socials ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
}

.header .social-item{
    color: #00ffee;
    padding: .5rem;
    border: 2px solid #00ffee;
    border-radius: 50%;
    transition: .3s ease-in-out;
}


.header .social-item:hover{
    color: #080808;
    transform: scale(1.3);
    box-shadow: 0 0 25px #00ffee;
    background-color: #00ffee;
}





/* Home*/

.home{
    padding: 10rem 0 7.8rem;
}

.home__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.25rem;
}

.home__content h3{
    font-size: 1rem;
    font-family: "Play", sans-serif;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.home__content h1{  
    font-size: 3.75rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    line-height: 4.375rem;
    text-transform: uppercase;
}

.home .btn{
    position: relative;
    padding: 1rem 2rem;
}

.home .btn a{
    font-family: "Play", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .125rem;
}

.home .btn::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 1.875rem;
    width: 1.875rem;
    border-left: 2px solid #00ffee;
    border-top: 2px solid #00ffee;
    content: "";
}

.home .btn::after{
    position: absolute;
    right: 1rem;
    bottom: 0;
    height: 1.875rem;
    width: 1.875rem;
    border-right: 2px solid #00ffee;
    border-bottom: 2px solid #00ffee;
    content: "";
}

.home__image{
    position: relative;
}

.home img{
    border-radius: 50%;
    border: 2px solid #00ffee;
    box-shadow: 0 0 25px #00ffee;
    width: 100%;
    height: auto;
    max-width: 29.875rem;
}





/* Family */

.family{
    padding-top: 12.5rem;
}

.family__content .heading{
    font-size: 8rem;
    text-align: center;
}


.family-items{
    padding: 7rem 0 3rem;
    display: grid;
    grid-template-rows: 17.5rem 17.5rem;
    grid-template-columns: 17.5rem 17.5rem 17.5rem 17.5rem 17.5rem;
    row-gap: 9rem;
    position: relative;
}

.item-1{
    grid-area: 1 / 2 / 2 / 3;
}

.item-2{
    grid-area: 1 / 4 / 2 / 5;
}

.item-3{
    grid-area: 2 / 1 / 3 / 2;
}

.item-4{
    grid-area: 2 / 3 / 3 / 4;
}

.item-5{
    grid-area: 2 / 5 / 3 / 6;
}

.item{
    padding: 1rem;
    border: 2px  solid #00ffee;
    border-radius: 25px;
    box-shadow: 0 0 25px #00ffee;
    transition: .3s ease-in-out;
    position: relative;
    overflow: scroll;
}

.item h3{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.item p{
    font-size: .8rem;
    line-height: 1.2rem;
}

.item:hover{
    transform: scale(1.05);
}

.line{
    content: "";
    position: absolute;
    background-color: #00ffee ;
    z-index: 0;
    display: none;
}

.line-1{
    grid-area: 1 / 3 / 2 / 5;
    top: 138px;
    height: 4px;
    width: 280px;
}

.line-2{
    grid-area: 1 / 3 / 2 / 5;
    top: 142px;
    left: 138px;
    width: 4px;
    height: 217px;
}

.line-3{
    top: calc(100px + 280px + 75px);
    left: 138px;
    width: calc(1400px - 276px);
    height: 4px;
}

.line-4{
    top: calc(100px + 280px + 75px);
    left: 138px;
    width: 4px;
    height: 75px;
}

.line-5{
    top: calc(100px + 280px + 75px);
    left: calc(560px + 138px);
    width: 4px;
    height: 75px;
}

.line-6{
    top: calc(100px + 280px + 75px);
    right: 138px;
    width: 4px;
    height: 75px;
}




/* Education */

.education{
    padding-top: 12.5rem;
}

.education .heading{
    font-size: 8rem;
    text-align: center;
}

.chronology-items{
    padding: 3.125rem 1.5625rem 3.125rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.chronology-item{
    margin-bottom: 2.5rem;
    padding: 3.125rem 0 3.125rem 3.125rem ;
    width: 100%;
    position: relative;
}

.chronology-item::before{
    content: '';
    position: absolute;
    left: .5rem;
    top: 0;
    width: .25rem;
    height: 20.125rem;
    background-color: #00ffee ;
}

.chronology-dot{
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: calc(3.125rem - 0.125rem);
    left: 0;
    background-color: #00ffee;
    box-shadow: 0 0 25px #00ffee;
    border-radius: 50%;
}

.chronology-date{
    position: relative;
    left: 0;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 800;
}

.chronology-content{
    background-color: #131313;
    border: 3px solid #00ffee;
    padding: 1.875rem 3.125rem;
    border-radius: 50px;
    box-shadow: 0 0 10px #00ffee;
    transition: 0.3s ease-in-out;
    margin-left: 3.125rem;
}

.chronology-content:hover{
    transform: scale(1.05);
}

.chronology-content h3{
    font-size: 1.25rem;
    margin: 0 0 .6rem;
    font-weight: 500;
}

.chronology-content p{
    font-weight: 300;
    line-height: 1.4rem;
}





/* hobby */

.hobby{
    padding-top: 12.5rem;
}

.hobby .heading{
    font-size: 8rem;
    text-align: center;
}

.hobby__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
}

.hobby__items{
    padding: 3.125rem 1.5625rem 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
}



.hobby .item{
    background-color: #131313;
    border: 3px solid #00ffee;
    padding: 1.875rem 3.125rem;
    border-radius: 25px;
    box-shadow: 0 0 10px #00ffee;
    transition: 0.3s ease-in-out;
    display: flex;
    gap: 3rem;
}

.hobby .item-right{
    max-width: 10rem;
}

.hobby .item img{
    border-radius: 10%;
    border: 2px solid #00ffee;
    box-shadow: 0 0 25px #00ffee;
    width: 100%;
    max-width: 15rem;   
}

.hobby h3{
    font-size: 1.25rem;
    margin: 0 0 .6rem;
    font-weight: 500;
}

.hobby p{
    font-weight: 300;
    line-height: 1.4rem;
    text-align: left;
}


/* Contact */

.contact{
    padding-top: 12.5rem;
    background-color: #131313;
}

.contact .heading{
    font-size: 8rem;
    text-align: center;
}

.contact__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    height: auto;
}

.contact__content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    position: relative;
}

.input-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.input-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-left,
.input-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.contact__content form input,
.contact__content form textarea{
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    background-color: #131313;
    border-radius: 2rem;
    border: 2px solid #00ffee;
    box-shadow: 0 0 25px #00ffee;
    transition: .3s ease-in-out;
    height: auto;
}

.contact__content form .btn{
    color: #404040;
    padding: 1rem;
}

.contact__content form input:hover,
.contact__content form textarea:hover{
    transform: scale(1.05);
}




/* footer */

.footer{
    background-color: #080808;
}

.footer__top{
    padding: 2rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

.footer__top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    padding: .5rem 0;
    text-align: left;
}

.footer__logo a{
    font-weight: 700;
}

.footer__logo span{
    color: #00ffee;
    text-shadow: 0 0 25px #00ffee;
}

.footer__nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer .nav-item a{
    font-size: 1rem;
    font-family: "Play", sans-serif;
    padding: .5rem 0;
    text-transform: uppercase;
    transition: .2s ease-in-out;
}

.footer .nav-item>a:hover,
.footer .active{
    border-bottom: 2px solid #00ffee;
    color: #00ffee;
}

.footer__socials{
    text-align: right;
}

.footer__socials ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
}

.footer .social-item{
   color:#00ffee;
   padding: .5rem;
   border: 2px solid #00ffee;
   border-radius: 50%;
   transition: .3s ease-in-out;
}

.footer .social-item:hover{
    color: #080808;
    transform: scale(1.3);
    box-shadow: 0 0 25px #00ffee;
    background-color: #00ffee;
}

.footer__copyright{
    padding: 2rem 0;
    text-align: center;
}

.footer__copyright p{
    font-size: 1rem;
    color: #adadad;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}





/* media queries */

@media(max-width: 1440px){
    /* 1440 / 1024 ~= 1.4 */
    
    html{
        font-size: 11.5px; /* 16 / 1.4 ~= 11.5 */
    }

    .container{
        max-width: 984px;
    }

    .chronology-item::before{
        height: 23rem;
    }
}

@media(max-width: 1024px){
    /* 1440 / 768 ~= 1.875 */

    html{
        font-size: 8.5px; /* 16 / 1.875 ~= 8.5 */
    }

    .container{
        max-width: 728px;
    }
    .chronology-item::before{
        height: 23.25rem;
    }
}

@media(max-width: 768px){
    /* 1440 / 480 ~= 3*/

    html{
        font-size: 5.3px; /* 16 / 3 ~= 5.3 */
    }

    .container{
        max-width: 470px;
    }

    .education{
        margin-bottom: 25px;
    }
    .chronology-item::before{
        height: 23.25rem;
    }
}

@media (max-width: 480px) {
    /* 1440 / 320 ~= 4.5 */

    html{
        font-size: 16px; 
    }

    .container{
        max-width: 310px;
    }

    .header__logo,
    .header__socials,
    .footer__socials,
    .footer__top,
    .chronology-item::before,
    .chronology-dot{
        display: none;
    }

    .header{
        padding: 1rem 0;
    }

    .header__nav ul{
        gap: 1rem
    }    

    .header .nav-item a{
        font-size: .7rem;
    }


    .home__content{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .family,
    .education,
    .hobby,
    .contact{
        padding-top: 6rem;
    }

    .family .heading,
    .education .heading,
    .hobby .heading,
    .contact .heading{
        font-size: 2rem;
    }

    .family-items{
       display: flex;
       flex-direction: column;
       gap: 1rem;
       padding: 2rem 0 1rem;
    }

            
    .item h3{
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
    }

    .item p{
        font-size: .5rem;
        line-height: 0.7rem;
    }   

    .education__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chronology-item{
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .chronology-date{
        margin-bottom: .5rem;
        position: static;
        text-align: center;
    }

    .chronology-content{
        padding: 1rem;
        margin: 0 auto;
    }

    .chronology-content h3{
        font-size: 1rem;
    }

    .chronology-content p{
        font-size: .5rem;
    }

    .hobby__content{
        padding: 1rem;
        flex-direction: column;
    }

    .hobby__items{
        flex-direction: column;
        padding: 1rem;
    }

    .hobby .item{
        padding: .5rem 1rem;
        border-radius: 25px;
    }
        
    .hobby h3{
        font-size: 1rem;
        margin: 0 0 .6rem;
        font-weight: 500;
    }

    .hobby p{
        font-weight: 300;
        line-height: .7rem;
        font-size: .5rem;
        text-align: left;
    }

    .hobby{
        margin-bottom: 7.5rem;
    }


    .contact__content{
        padding: 1rem;
    }

    .contact__content form{
        gap: 1rem;
    }

    .input-top{
        flex-direction: column;
        gap: 1.5rem;
    }

    .input-left,
    .input-right{
        gap: 1.5rem;
    }

    .contact__content form input,
    .contact__content form textarea{
        font-size: 1rem;
    }

}

  